:root{
    --morado: #7b0e67;
    --moradoClaro: #4f2062;
    --moradoClaro2: #572e66;
    --moradoOscuro: #341950;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: var(--moradoOscuro);
    color: white;
}

#stats, #gui, .original-video{
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.video{
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    margin: 20px;
    border-radius: 22px;
}

.main{
    margin: 0 auto;
    width: 85%;
}

.container{
    display: flex;
    background-color: var(--moradoClaro2);
    border-radius: 20px;
}

.container:nth-child(1){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

.container:nth-child(2){
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.fields{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.titulo{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--moradoClaro);
    margin: 20px;
    border-radius: 22px;
}

select, input{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

select{
    background-color: var(--moradoClaro);
    padding: 7px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

input{
    background-color: var(--moradoClaro);
    padding: 7px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}

